@charset "utf-8";

.iframe-wrapper {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.h2  {
  font-family: 'Almarai', sans-serif;
}
.haikei{
  height:1000px;
}
.haikei2 {
  text-align:center;

}